@import '../assets/scss/variables';

.weather-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 50px;
    @media #{$small-and-down} {
        padding: 20px;
    }
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 1.8rem;
    color: #eee;
    margin: 0 0 50px 0;
}

.weather-list {
    display: block;
    margin: 10px auto 50px;
    max-width: 70%;
    @media #{$small-and-down} {
        width: 100%;
        max-width: 1000px;
    }
    color: #333;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;

    @media #{$small-and-down} {
        font-size: 1.2rem;
    }
}

.city {
    font-size: 1.5rem;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.content {
    display: flex;
}

.time,
.date,
.temperature-icon,
.temperature-text {
    height: 80px;
    line-height: 80px;
}

.date-time{ 
    background-color: rgba(255, 255, 255, 0.7);
}

.temperature{ 
    background-color: rgba(255, 255, 255, 0.5);
}

.date-time,
.temperature {
    font-size: 1.5rem;
    flex-grow: 2;
    flex: 1;
}

.weather-icon {
    width: 70px;
    height: 70px;
    margin: 10px 0 0 0;
}
